ul {
    list-style-type: none;
  }
  .pre-footer {
    background-color: #2C3E50;
  }
  footer {
    background-color: #17212A;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .icon {
    border: 1px white solid;
    border-radius: 50%;
    padding: 10px;
  }